# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/Galactic Space/Debug
/Galactic Space/ipch
/Galactic Space/Galactic Space.suo
/Galactic Space/Galactic Space.opensdf
/Galactic Space/Galactic Space.sdf